@use 'reset';

html {
  font-size: 62.5%;
}

body {
  --background-1: #000;
  --foreground-1: #fff;

  background-color: var(--background-1);
  color: var(--foreground-1);
  font-family: sans-serif;
  font-size: 2rem;
  padding: 2rem;
}

a {
  color: var(--foreground-1);
  font-weight: bold;
  text-decoration: 1px dotted underline;

  &:hover {
    background-color: var(--foreground-1);
    color: var(--background-1);
  }
}

button {
  cursor: pointer;
}

:focus {
  outline: 2px dotted var(--foreground-1);
}

.monospace {
  font-family: monospace;
}

.divider {
  border-top: 2px dotted var(--foreground-1);
  margin-bottom: 2rem;
  margin-top: 2rem;
}

@use 'components/errors';
@use 'components/page-footer';
@use 'components/page-header';
@use 'components/page-main';
@use 'components/listenbrainz';
@use 'components/userstyles';
