@import 'reset';
@import 'mixins';

html {
  font-size: 62.5%;
}

body {
  background-color: #111;
  color: #fff;
  font-family: sans-serif;
  font-size: 2rem;
}

a {
  color: #ff0;
  font-weight: bold;
}

button {
  cursor: pointer;
}

.monospace {
  font-family: monospace;
}

@import 'components/errors';
@import 'components/page-footer';
@import 'components/page-header';
@import 'components/page-main';

@import 'components/userstyles';
