@import 'reset';

html {
  font-size: 62.5%;
}

body {
  background-color: #000;
  color: #fff;
  font-family: sans-serif;
  font-size: 2rem;
}

a {
  color: #fff;
  font-weight: bold;
}

button {
  cursor: pointer;
}

.monospace {
  font-family: monospace;
}

.divider {
  border-top: 2px solid #fff;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

@import 'components/errors';
@import 'components/page-footer';
@import 'components/page-header';
@import 'components/page-main';

@import 'components/listenbrainz';
@import 'components/userstyles';
