body {
  --border-accent: var(--da-5);
  --page-accent-1: var(--da-7);
  --page-accent-2: var(--da-3);
}

.libraries {
  background-color: transparent;
  border: none;
  padding: 0;
}

.libraries li {
  background-color: var(--db-2);
  padding: 16px;
}

.libraries a {
  margin-bottom: 8px;
}

.libraries .badges {
  display: flex;
  gap: 8px;
}

#crates,
#npm {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#crates {
  --border-accent: var(--da-4);
  --page-accent-1: var(--da-4);
  --page-accent-2: var(--da-7);
}

#npm {
  --border-accent: var(--da-1);
  --page-accent-1: var(--da-1);
  --page-accent-2: var(--da-7);
}
