html {
  font-size: 62.5%;
}

body {
  background-color: var(--background-1);
  color: var(--foreground-1);
  font-size: 1.75rem;
  padding: 16px;
}

main {
  align-items: center;
  display: flex;
  gap: 16px;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 16px;
  max-width: 500px;
  padding: 16px;
}

h1,
h2 {
  background-color: var(--background-2);
  padding: 16px;
  width: 100%;
}

h1,
h2,
p {
  margin: 0;
}

a {
  border: 1px dashed transparent;
  color: var(--primary-accent-7);
  display: inline-block;
  font-weight: bold;
  padding: 4px 8px;
  text-decoration: none;
}

a:hover {
  background-color: var(--primary-accent-3);
  color: var(--background-1);
}

a:active,
a:focus {
  border: 1px dashed var(--foreground-1);
  outline: none;
}

img {
  display: inline-block;
}

main,
footer,
h1,
ul {
  border: 1px solid var(--primary-accent-5);
}

ul {
  align-items: center;
  background-color: var(--background-2);
  list-style: none;
  margin: 0;
  overflow: auto;
  padding: 16px;
  width: 100%;
}

li {
  margin-bottom: 8px;
}

li:last-child {
  margin-bottom: 0;
}

.divider {
  border-top: 1px solid var(--primary-accent-5);
  width: 100%;
}

footer {
  font-weight: bold;
  margin: 0 auto;
  max-width: 500px;
  padding: 16px;
}

footer a {
  padding: 0;
}
