.libraries {
  background-color: transparent;
  border: none;
  padding: 0;
}

.libraries li {
  background-color: var(--background-2);
  padding: 16px;
}

.libraries a {
  margin-bottom: 8px;
}

.libraries a:hover {
  background-color: var(--primary-accent-2);
}

.libraries .badges {
  display: flex;
  gap: 8px;
}

#npm,
.libraries li.npm {
  border: 1px solid var(--primary-accent-1);
}

.npm a {
  background-color: var(--primary-accent-1);
  color: var(--background-1);
}

#crates,
.libraries li.crates {
  border: 1px solid var(--primary-accent-4);
}

.crates a {
  background-color: var(--primary-accent-4);
  color: var(--background-1);
}
