body {
  --accent-1: #f99fb1;
}

header {
  align-items: center;
  background-color: #2a2041;
  border: 1px solid var(--accent-1);
  display: flex;
  justify-content: center;
  padding: 16px;
  width: 100%;
}

h2 {
  margin-right: auto;
  padding: 0;
}

a.install {
  background-color: var(--accent-1);
  color: #1f1731;
}

a.install:hover {
  background-color: #96c839;
}

.remove-padding,
.remove-a-padding a {
  padding: 0;
}
