<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page_title }}</title>
  <link rel="shortcut icon" href="/assets/avatar.jpg" type="image/jpeg">
  <link rel="stylesheet" href="/css/modern-normalize.css">
  <script async defer data-website-id="d382865d-9a3f-40be-8139-17015fcedcc9"
    data-do-not-track="true"
    src="https://analytics.bauke.xyz/umami.js"></script>
  {% block head %}{% endblock %}
</head>

<body>
  {% block body %}{% endblock %}
</body>

</html>
