{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/css/index.css">
{% endblock %}

{% block body %}
<header class="page-header">
  <h1>Bauke</h1>

  <p class="subtitle">
    <a href="mailto:me@bauke.xyz" title="me@bauke.xyz">
      Email
    </a>
    <a href="https://social.holllo.org/@Bauke" title="@bauke@social.holllo.org">
      Fediverse
    </a>
    <a href="https://git.bauke.xyz/explore/repos">
      Software
    </a>
  </p>
</header>

<main class="page-main">
  <a class="driftingnebula" href="https://driftingnebula.com">
    <img alt="driftingnebula" src="/assets/driftingnebula.png">
  </a>

  <a class="holllo" href="https://holllo.org">
    <img alt="Holllo" src="/assets/holllo-text.png">
  </a>
</main>

<script src="/js/listenbrainz.js"></script>
{% endblock %}
