{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/css/index.css">
{% endblock %}

{% block body %}
<header class="page-header">
  <h1>Bauke</h1>
</header>

<main class="page-main">
  <div class="contact-links">
    <a target="_blank" href="mailto:me@bauke.xyz" title="Email"
      data-label="email">
      me@bauke.xyz
    </a>

    <a target="_blank" href="https://matrix.to/#/@baukexyz:matrix.org"
      title="Matrix Username" data-label="matrix">
      @baukexyz:matrix.org
    </a>

    <a target="_blank" href="https://github.com/Bauke" title="GitHub"
      data-label="github">
      Bauke
    </a>
  </div>

  <div class="divider"></div>

  <a class="driftingnebula" href="https://www.deviantart.com/driftingnebula">
    <img alt="driftingnebula" src="/assets/driftingnebula.png">
  </a>
</main>

<script src="/js/listenbrainz.js"></script>
{% endblock %}
