{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/css/index.css">
{% endblock %}

{% block body %}
<header class="page-header">
  <h1>bauke.xyz</h1>
</header>

<main class="page-main">
  <div class="contact-links">
    <a target="_blank" href="mailto:me@bauke.xyz">
      me@bauke.xyz
    </a>

    <a target="_blank" href="https://matrix.to/#/@baukexyz:matrix.org">
      @baukexyz:matrix.org
    </a>

    <a target="_blank" href="https://mastodon.social/@bauke">
      @bauke@mastodon.social
    </a>
  </div>
</main>
{% endblock %}
