@use 'mixins';

.listenbrainz {
  align-items: center;
  background-color: #0002;
  display: grid;
  grid-template-columns: min-content auto;
  padding: 8px;
  width: fit-content;

  @media (max-width: mixins.$medium-breakpoint) {
    width: 100%;
  }

  a {
    width: fit-content;
  }

  img {
    grid-row: 1 / 3;
    margin-right: 8px;
    width: 48px;
  }
}
