@use 'mixins';

.listenbrainz {
  @include mixins.patterned-shadow(0.5rem);

  align-items: center;
  background-color: var(--background-1);
  border: 2px solid var(--foreground-1);
  display: grid;
  grid-template-columns: min-content auto;
  margin-top: 1rem;
  padding: 1rem;
  width: fit-content;

  a {
    width: fit-content;
  }

  img {
    grid-row: 1 / 3;
    margin-right: 1rem;
    width: 4rem;
  }
}
