@use 'mixins';

.page-main {
  @include mixins.responsive-container;

  margin-bottom: 2rem;

  .contact-links {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);

    @media (max-width: mixins.$medium-breakpoint) {
      grid-template-columns: repeat(1, 1fr);
    }

    a {
      @include mixins.patterned-shadow(0.5rem);

      background-color: var(--background-1);
      border: 2px solid var(--foreground-1);
      padding: 1rem;

      &:hover {
        background-color: var(--foreground-1);
      }
    }
  }
}
