.page-main {
  padding: 1rem;

  .contact-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    a {
      border: 2px solid;
      color: #fff;
      padding: 1rem;
      text-decoration: none;

      &:hover {
        background-color: #fff;
        border-color: #fff;
        color: #000;
      }
    }
  }
}
