@use 'mixins';

.page-main {
  @include mixins.responsive-container;

  margin-bottom: 2rem;

  .contact-links {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);

    @media (max-width: mixins.$medium-breakpoint) {
      grid-template-columns: repeat(1, 1fr);
    }

    a {
      @include mixins.patterned-shadow(0.5rem);

      background-color: var(--background-2);
      border: 2px solid var(--foreground-1);
      padding: 1rem;
      position: relative;

      &:hover {
        background-color: var(--foreground-1);
      }

      &::before {
        content: attr(data-label);
        font-size: 50%;
        position: absolute;
        right: 4px;
        top: 4px;
      }
    }
  }
}

.driftingnebula {
  background: url('/assets/driftingnebula 2022-03-07.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  font-size: 3rem;
  height: 10rem;
  padding: 1rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 4px var(--background-1);

  &:hover {
    color: var(--foreground-1);
    filter: hue-rotate(180deg);
    outline: 2px dotted var(--foreground-1);
    outline-offset: 4px;
  }

  img {
    height: 100%;
  }
}
