.userstyles {
  background-color: transparent;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  padding: 0;

  .style {
    background-color: #333;
    padding: 1rem;

    .header {
      align-items: center;
      display: flex;
      margin-bottom: 0.5rem;

      img {
        height: 4rem;
        margin-right: 0.5rem;
      }

      a {
        border: 2px solid;
        margin-left: auto;
        padding: 0.5rem;
        text-decoration: none;

        &:hover {
          background-color: #ff0;
          border-color: #ff0;
          color: #000;
        }
      }
    }
  }
}
